<div class="row">
   <div class="col s6 offset-s3">
      {{#if error}}
         <p class="alert">{{error}}</p>
      {{/if}}
      <h2 class="mb-3">Задать новый парол</h2>
      <form action="/auth/password" method="post">
         <div class="input-field">
            <input name="password" id="password" type="password">
            <label for="password">Новый парол</label>
         </div>
         <div class="input-field">
            <input name="confirm" id="confirm" type="password">
            <label for="confirm">Подвердит новый парол</label>
         </div>
         <input type="hidden" name="_csrf" value="{{csrf}}">
         <input type="hidden" name="userId" value="{{userId}}">
         <input type="hidden" name="token" value="{{token}}">
         <button class="btn btn-primary" type="submit">Обновить парол</button>
      </form>
   </div>
</div>