<div class="row">
   {{> admin/sidebar}}
   <div class="col s9">
      <div class="info mt-1 ">
         <div class="info-block"><span class="material-icons">person</span><span>40</span></div>
         <div class="info-block"><span class="material-icons">post_add</span><span>200</span></div>
         <div class="info-block"><span class="material-icons">category</span><span>11</span></div>
      </div>
   </div>
</div>