<nav>
   <div class="nav-wrapper">
      <a href="/" class="brand-logo">Novosti.com</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         {{#if isHome}}
            <li class="active"><a href="/">Главная</a></li>
         {{else}}
            <li><a href="/">Главная</a></li>
         {{/if}}
         {{#if isAuth}}
            {{#if isProfile}}
               <li class="active"><a href="/profile">Профил</a></li>
            {{else}}
               <li><a href="/profile">Профил</a></li>
            {{/if}}
            <li><a href="/auth/logout">Выйти</a></li>
         {{else}}
            {{#if isLogin}}
               <li class="active"><a href="/auth/login">Войти</a></li>
            {{else}}
               <li><a href="/auth/login">Войти</a></li>
            {{/if}}
         {{/if}}
      </ul>
   </div>
</nav>